.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    overflow: hidden;
}

.sidebar {
    border-right: 1px solid light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}
